/* Update CSS with less CSS do I used more bootstrap still used couple of changes to elements, classes and id's*/
  /* Declared all the colors need on the CSS */
/* Variable Functions */
  /* Declared all the colors need on the CSS */
:root {
  --blue: #1e90ff;
  --light-pink:  #EDEDF6;
  --dark-gray:  #31343D;
  --aqua-light:  #92CCCD;
  --white:    #ffffff;

}

/* Universal Selectors */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  font-family: 'New Tegomin', serif;
  
}

/* Elements Selectors */
  /* Note:Added header,nav to use these elements instead of classes as much as possible.
  I used variable for colors. 03/17/21 egon*/
  
nav{
  font-size: 25px;
  border-color: var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Londrina Solid', cursive;
  font-family: 'New Tegomin', serif;
  font-size: 20px;
}

body
{
  background-color:#E9ECEF
}

/* Class Selectors */

  .ecommerce {
    height: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-image:  url("../images/ecommerce.png");
    background-size: cover;
    background-position: center;
    border-color: var(--dark-gray); 
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
  }
  
  .canvas{
    height: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-image:  url("../images/NoteTaker.png");
    background-size: cover;
    background-position: center;
    border-color: var(--dark-gray); 
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
  }

.techblog{
  height: 200px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  background-image:  url("../images/techblog.png");
  background-size: cover;
  background-position: center;
  border-color:var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}

.card-title
{
  border-right:none;
  height: 60px;
  border-bottom: 10px solid;
}

#exershare{
  margin-bottom: 25px;
  text-align: center;
  background-image:  url("../images/exershare.png");
  background-size: cover;
  background-position: center;
  border-color: var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
  min-height: 50vh;
  cursor: pointer;
}

#work-titles
{

  text-align: center;
}
#contact-me
{
  font-size: 25px;
}

  /* Not using media do to I made the site responsive with css 03/17/21 egon*/
@media screen and (max-width: 768px) 
{


}