.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}


.SurfReport {

  margin-bottom: 25px;
  background-image:  url("../images/surfreport.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  flex: auto;
  height: 240px;
  flex-basis: 150px;
  
}

.ledwall {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/ledwall.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  flex: auto;
  height: 240px;
  flex-basis: 150px;
}

.calculator{
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/calculator.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  flex: auto;
  height: 240px;
  flex-basis: 150px;
}
.puzzles {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/puzzles.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  flex: auto;
  height: 240px;
  flex-basis: 150px;
}

.runbuddy{
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/runbuddy.jpg");
  background-size: cover;
  background-position: center;
  background-color: lightgray;
  background-position: center center;
  background-size: cover;
  margin: 2px;
  flex: auto;
  height: 240px;
  flex-basis: 150px;
}