
/* Universal Selectors */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Elements Selectors */
  /* Note:Added header,nav to use these elements instead of classes */

body {
  background-color: #EDEDF6;
}

p {
  margin-top: 10px ;
  margin-bottom: 10px ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  
}

li a {
  display: block;
  padding: 20px;
  background-color: #31343D;
  color: #92CCCD;
}
header {
  padding: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #31343D;
  color: #ffffff;
}

footer{
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1{
  display: inline-block;
  font-size: 48px;
  background-color: #92CCCD;
}

h2{
    display: inline-block;
    font-size: 48px;
    background-color: #92CCCD;
    margin-right: 50px;
    margin-top: 130px;
    margin-bottom: 100px;
    margin-right: 2px;
    margin-left: 1500px;
    
}

nav
{
  
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.nameh
{
  color: #31353E;
}

.hero {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/bgpor.jpg");
  background-size: cover;
  background-position: center;
}

.contactme li a
{

    display: block;
    padding: 20px;
    background-color: #EDEDF6;
    color: #31353E;
  
}

.contactme li 
{
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}

