
/* Variable Functions */
  /* Declared all the colors need on the CSS */
:root {
  --blue: #1e90ff;
  --light-pink:  #EDEDF6;
  --dark-gray:  #31343D;
  --aqua-light:  #92CCCD;
  --white:    #ffffff;

}

/* Universal Selectors */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  font-family: 'New Tegomin', serif;
  
}

/* Elements Selectors */
  /* Note:Added header,nav to use these elements instead of classes as much as possible.
  I used variable for colors. 03/17/21 egon*/
  
nav{

  font-size: 25px;
  border-color: var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Londrina Solid', cursive;
  font-family: 'New Tegomin', serif;
  font-size: 20px;
}

body
{
  background-color:#E9ECEF
}

/* Class Selectors */
  /* Note:Added header,nav to use these elements instead of classes as much as possible.
  I used variable for colors. 03/17/21 egon*/

  .employees-passwords-generator {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image:  url("../images/employees-passwords-generator.png");
    background-size: cover;
    background-position: center;
    border-color: var(--dark-gray); 
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
  }
  
  .WorkdayScheduler{
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image:  url("../images/WorkDayScheduler.png");
    background-size: cover;
    background-position: center;
    border-color: var(--dark-gray); 
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
  }

.coding-quiz-challenge{
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image:  url("../images/CodingQuizChallenge.png");
  background-size: cover;
  background-position: center;
  border-color:var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}

.card-title
{
  border-right:none;
  height: 60px;
  border-bottom: 10px solid;
}

#trademark-project {
  margin-bottom: 25px;
  background-image:  url("../images/TrademarkProject.png");
  background-size: cover;
  background-position: center;
  border-color: var(--dark-gray); 
  border-style: solid;
  border-width: 5px;
  min-height: 50vh;
  cursor: pointer;
}

#contactme
{
  font-size: 25px;
}



  /* I added based one requirments. 03/17/21 egon*/
@media screen and (max-width: 768px) 
{


}